@media only screen and (max-width: 990px){
    /* udalosti pod 990 pixelov šírky */
   }

@media only screen and (min-width: 990px){
    /* udalosti nad 990 pixelov šírky */
   }

   /************************************************************/






   @media only screen and (max-width: 1500px){
    .languageWrapper{
       
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: -100;
       
    }

    .aboutWrapper{
        padding: 20px 0;
        margin: 0 20px;
        color: white;
        width: 95%;
        text-align: justify;
        margin-top: 50px;
        margin-bottom: 200px;
       
    }
    
    .aboutWrapper h2{
        
        color: white;
        text-decoration: underline;
    }
    
    .aboutWrapper p{
       
        margin: 15px 0;;
    }
   }

   @media only screen and (max-width: 1280px){
    .section p{
        line-height: 23px ;
    }
   }


   @media only screen and (max-width: 1140px){
    .aboutWrapper p{
        font-size: 15px;
        margin: 15px 0;;
    }

    .section p{
        line-height: 20px;
    }
   }

   @media only screen and (max-width: 767px){
    .section p{
        font-size: 13px;
        line-height: 17px ;
    }
   }


   @media only screen and (max-width: 650px){
    .section {
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
      
      }

      .section p{
        width: 100%;
        padding: 10px 0;
      }

      .aboutImage{
        width: 100%;
      }
   }

