.aboutContent{
    background-image: url(../../img/slideshow/img3-dark.jpg);
}



.languageWrapper{
    background-color: black;
    opacity: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    z-index: -100;
   
}

.aboutWrapper{
    padding: 20px 0;
    margin: 0 50px;
    color: white;
    width: 500px;
    text-align: justify;
   
}

.aboutWrapper h2{
    color: white;
    text-decoration: underline;
}

.aboutWrapper p{
    margin: 25px 0;;
}