.aboutContent{
    
    background-color: #2C2D2F;
}



.languageWrapper{
    background-color: black;
    opacity: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    z-index: -100;
    
   
}

.aboutWrapper{
    padding: 20px 0;
    margin: 0 50px;
    color: white;
    width: 500px;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 200px;
}



.aboutWrapper h2{
    color: white;
    text-decoration: underline;
}

.aboutWrapper p{
    margin: 25px 0;;
}