.mainContent{
    background-color: #2C2D2F;
    background-image: url(../../img/background/background-texture2.jpg);
}

.mainContent h1{
    color: #d4d4d4;
    font-size: 50px;
    text-align: center;
}

.mainHeadingSlideshow{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





