section{
    
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Čierna farba s 80% priehľadnosťou */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8), rgba(0, 0, 0, 0.8));
    
}



section p{
    color: white;
    padding: 30px 0;
}





section a img{
    width: 50px;
    height: 50px;
    margin: 5px;
}





.oneMovieBG{
    background-image: url(../../img/slideshow/img2-dark.jpg);
}

.iconsUnderOneMix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
    
}

.iconsUnderOneMix a{
     padding-top: 15px;
}



.tracklist{
    width: 100%;
    line-height: 20px;
    font-size: 15px; 
    padding: 8px 0;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 0.5px grey solid;
    
}

.coverTitle img{
    max-width: 400px;
    width: 20vw;
}

.coverTitle{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px grey solid;
    padding-bottom: 10px;
}

.coverTitle h1{
    width: 100%;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    font-size: 60px;
    font-size: 4vw;
    /* background-color: azure; */
}

.tracks_icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}