@media only screen and (max-width: 990px){
    /* udalosti pod 990 pixelov šírky */
   }

@media only screen and (min-width: 990px){
    /* udalosti nad 990 pixelov šírky */
   }

   /************************************************************/


   @media only screen and (max-width: 560px){
    .oneMix{
        margin: 2px 5px;
        width: 95%;
        height: 50px;
        padding: 0px;
    }


    .oneMixCover{
        width: 40px;
        height: 40px;
    }

    .mixesInfo{
       
        width: 300px;

    }

    .oneMix h2{
        font-size: 15px;
    }


   }


   @media only screen and (max-width: 450px){
    .mixesInfo{
       
        width: 250px;

    }

    .oneMix h2{
        font-size: 12px;
    }

    .mixesLinks a img{
        width: 20px;
        height: 20px;
       
    }
   }