@media only screen and (max-width: 990px) {
  /* udalosti pod 990 pixelov šírky */
}

@media only screen and (min-width: 990px) {
  /* udalosti nad 990 pixelov šírky */
}

/************************************************************/



@media only screen and (max-width: 930px) {
  /* udalosti pod 930 pixelov šírky */

  .coverTitle img {
    width: 30%;
  }

  .coverTitle h1 {
    width: 70%;
    text-align: center;
    padding: 15px 0;
    font-size: 6vw;
  }
}



@media only screen and (max-width: 870px) {
  

  .coverTitle {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px grey solid;
  }

  .coverTitle img {
    max-width: 550px;
    width: 100%;
  }

  .coverTitle h1 {
    width: 100%;
    height: 100% ;
    text-align: center;
    padding: 15px 0;
    font-size: 6vw;

    /* background-color: azure; */
  }

  .tracklist {
    line-height: 15px;
    font-size: 12px;
  }

  .trackSeparator{
    min-width: 2px;
}

.trackNumber{
  /* background-color: green; */
  min-width: 30px;
  
}
}
