@media only screen and (max-width: 990px) {
  /* udalosti pod 990 pixelov šírky */
}

@media only screen and (min-width: 990px) {
  /* udalosti nad 990 pixelov šírky */
}

/************************************************************/

@media only screen and (max-width: 730px) {
  /* udalosti pod 730 pixelov šírky */
  .oneMix {
    margin: 2px 5px;
    width: 100%;
    height: 115px;
    padding: 0;
  }

  .oneMixCover {
    width: 100px;
    height: 100px;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 540px) {
  .oneMix {
    margin: 2px 5px;
    width: 100%;
    height: 60px;
    padding: 0;
  }

  .mixesLinks a:nth-child(1) {
    display: none;
  }

  .mixesLinks a:nth-child(2) {
    display: none;
  }

  .mixesLinks a:nth-child(3) {
    display: none;
  }

  .oneMixCover {
    width: 50px;
    height: 50px;
    margin-left: 4px;
  }

  .mixesInfo {
    width: 300px;
  }

  .oneMix h2 {
    font-size: 15px;
  }
}
