.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 35px;
    background: #efefef;
    text-align: center;
    color: black;

  }

.slideshow-frame{
  width: calc(100vw - 200px);
}


/* skrytie šípiek */
button.nav.default-nav{
  display: none;
}