.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }


  .each-slide-effect{
    width: 100vw;
    background-position: center;
    background-size: cover;
  }


.slideshow-frame{
  width: calc(100vw - 200px);
  width: 100vw;
}


/* skrytie šípiek */
button.nav.default-nav{
  display: none;
}